<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- 引入资源 -->
    <!-- Vue -->
    <script src="/lib/js/resource/vue.3.2.37.js"></script>

    <!-- JQ -->
    <script src="/lib/js/resource/jquery-3.6.0.js"></script>

    <!-- Element UI -->
    <script src="/lib/js/resource/elementPlus2.2.9.js"></script>
    <link rel="stylesheet" href="/lib/css/elementPlus2.1.7.css" />
    <script src="/lib/js/resource/elementPlusVueIcon2.0.6.js"></script>

    <!-- 瀑布流布局 -->
    <script src="/lib/js/resource/masonry4.2.2.js"></script>

    <!-- 自定义 -->
    <link rel="stylesheet" href="/lib/css/main.css" />
    <script src="/lib/js/main.js" type="module"></script>
  </head>
  <body>
    <!-- 布局容器 -->
    <div id="layout">
      <el-container id="container">
        <!-- 顶栏 -->
        <el-header id="header">
          <div>
            <div id="logo">
              <el-icon :size="40"><Operation /></el-icon>
              <span>TidyTab</span>
            </div>
            <div id="search">
              <el-icon size="35"><Search /></el-icon>
              <input type="text" placeholder="Search" />
            </div>
            <div id="darkSwitch">
              <el-icon :size="45"><Sunny /></el-icon>
            </div>
          </div>
        </el-header>

        <el-container>
          <!-- 侧边栏 -->
          <el-aside id="aside">
            <div class="activeGroup">
              <el-icon :size="20"><Flag /></el-icon>
              <span>默认标签组</span>
            </div>
            <div>
              <el-icon :size="20"><Flag /></el-icon>
              <span>常规标签组</span>
            </div>
            <div>
              <el-icon :size="20"><Flag /></el-icon>
              <span>常规标签组</span>
            </div>
            <button @click="addGroup">添加组</button>
            <div id="setting">
              <el-icon :size="20"><Setting /></el-icon>
              <span>设置</span>
            </div>
          </el-aside>
          <!-- 内容区 -->
          <el-main id="main">
            <tab-group v-for="(item, index) in 3" :key="index">  
                <tab v-for="(item, index) in 8" :key="index"></tab>
            </tab-group>
          </el-main>
        </el-container>
      </el-container>
    </div>

    <!-- 标签组模板 -->
    <template id="tabGroup">
      <div class="tabGroup">
        <p>
          <span>{{title}}</span>
          <span>{{createTime}}</span>
        </p>
        <slot></slot>
      </div>
    </template>

    <!-- 标签单元模板 -->
    <template id="tab">
      <div class="tab">
        <img :src="iconUrl" />
        <span>{{contents}}</span>
        <el-icon><Close /></el-icon>
      </div>
    </template>
  </body>
</html>
