<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- 引入资源 -->
    <!-- Vue -->
    <script src="/lib/js/resource/vue@3.2.37.global.dev.js"></script>
    <!-- <script src="/lib/js/resource/vue@3.2.37.global.prod.js"></script> -->

    <!-- Element UI -->
    <script src="/lib/js/resource/elementPlus@2.2.11.prod.js"></script>
    <link rel="stylesheet" href="/lib/css/elementPlus@2.1.7.css" />
    <script src="/lib/js/resource/elementPlusVueIcon@2.0.6.prod.js"></script>

    <!-- 右键菜单 -->
    <script src="/lib//js//resource/vue3ContextMenu@1.0.16.prod.js"></script>

    <!-- JQ -->
    <script src="/lib/js/resource/jquery@3.6.prod.js"></script>

    <!-- 瀑布流布局 -->
    <script src="/lib/js/resource/masonry@4.2.2.prod.js"></script>

    <!-- 自定义 -->
    <link rel="stylesheet" href="/lib/css/main.css" />
    <script src="/lib/js/components/root.js" type="module"></script>
  </head>
  <body>
    <!-- 布局容器 -->
    <div id="layout">
      <el-container id="container">
        <!-- 顶栏 -->
        <el-header id="header">
          <div>
            <div id="logo">
              <el-icon :size="40"><Operation /></el-icon>
              <span>TidyTab</span>
            </div>
            <div id="search">
              <el-icon size="35"><Search /></el-icon>
              <input type="text" placeholder="Search" />
            </div>
            <div id="darkSwitch">
              <el-icon :size="45"><Sunny /></el-icon>
            </div>
          </div>
        </el-header>

        <el-container>
          <!-- 侧边栏 -->
          <el-aside id="aside">
            <div class="activeGroup">
              <el-icon :size="20"><Flag /></el-icon>
              <span>默认标签组</span>
            </div>
            <div>
              <el-icon :size="20"><Flag /></el-icon>
              <span>常规标签组</span>
            </div>
            <div>
              <el-icon :size="20"><Flag /></el-icon>
              <span>常规标签组</span>
            </div>

            <div>
              title:<input
                type="text"
                name=""
                id=""
                v-model="groupDataTemp.title"
              />
              createTime:<input
                type="text"
                name=""
                id=""
                v-model="groupDataTemp.createTime"
              />
              <button @click="createTabGroup(groupDataTemp)">添加单元</button>
            </div>
            <div id="setting">
              <el-icon :size="20"><Setting /></el-icon>
              <span>设置</span>
            </div>
          </el-aside>
          <!-- 内容区 -->
          <el-main id="main">
            <tab-group
              v-for="(group, index) in groupDataList"
              :key="index"
              :group="group"
              ref="groupRef"
            >
              <tab
                v-for="(tab, index) in group.tabDataList"
                :key="index"
                :tab="tab"
                ref="tabRef"
              ></tab>
              <div>
                iconUrl:<input
                  type="text"
                  name=""
                  id=""
                  v-model="tabDataTemp.iconUrl"
                />
                content:<input
                  type="text"
                  name=""
                  id=""
                  v-model="tabDataTemp.contents"
                />
                <button @click="createTab(index, tabDataTemp)">添加单元</button>
              </div>
            </tab-group>
          </el-main>
        </el-container>
      </el-container>
    </div>

    <!-- 标签组模板 -->
    <template id="tabGroup">
      <div class="tabGroup" @contextmenu="rightClick">
        <p>
          <span>{{title}}</span>
          <span>{{createTime}}</span>
        </p>
        <slot></slot>
        <!-- 右键菜单 -->
        <vue3-menus
          v-model:open="isOpen"
          :event="eventVal"
          :menus="menusOtions.menus"
        >
          <template #default="{ item }">
            <div
              :class="['my-menus-item', item.item.disabled ? 'my-menus-item-disabled' : 'my-menus-item-available',]"
            >
              <el-icon>
                <component :is="item.item.icon"> </component>
              </el-icon>
              <div>{{ item.item.label }}</div>
            </div>
          </template>
        </vue3-menus>
      </div>
    </template>

    <!-- 标签单元模板 -->
    <template id="tab">
      <!-- 事件修饰符 .stop 阻止事件传递，以避免事件被父级覆盖 -->
      <div class="tab" @contextmenu.stop="rightClick">
        <img :src="iconUrl" />
        <span>{{contents}}</span>
        <el-icon><Close /></el-icon>
        <!-- 右键菜单 -->
        <vue3-menus
          v-model:open="isOpen"
          :event="eventVal"
          :menus="menusOtions.menus"
        >
          <template #default="{ item }">
            <div
              :class="['my-menus-item', item.item.disabled ? 'my-menus-item-disabled' : 'my-menus-item-available',]"
            >
              <el-icon>
                <component :is="item.item.icon"> </component>
              </el-icon>
              <div>{{ item.item.label }}</div>
            </div>
          </template>
        </vue3-menus>
      </div>
    </template>
  </body>
</html>
